<div class="wrapper row5">
    <div id="copyright" class="hoc clear">
        <!-- ################################################################################################ -->
        <p class="fl_left">Copyright &copy; 2017 - All Rights Reserved - <a href="#">PKL</a></p>
        <p class="fl_right">Hệ thống xe khách <a href="\" title="Trang chủ">Phương Trang</a></p>
        <!-- ################################################################################################ -->
    </div>
</div>
