<div class="container-fluid" style="background-image: url('images/about_back.jpg');">
  <div class="row">
    <div class="col-md-5">
      <div id="googleMap" style="width:100%;height:400px;"></div>

      <script>
        function myMap() {
          var mapProp = {
            center: new google.maps.LatLng(10.766310, 106.693857),
            zoom: 20,
          };
          var map = new google.maps.Map(document.getElementById("googleMap"), mapProp);
        }
      </script>

      <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDYO92FNdqJ4q9AWTtP-H1wQQiANWs-Lcc&callback=myMap"></script>


    </div>
    <div class="col-md-5">
      <font>
      <p>
      Công ty Phương Trang mong muốn cung cấp tới hành khách trên toàn quốc chất lượng dịch vụ vận tải hành khách, hàng hóa. Chúng tôi luôn ghi nhận những ý kiến đóng góp để hoàn thiện chất lượng phục vụ. <br>
      <h1> THÔNG TIN LIÊN HỆ </h1>
      Văn phòng : 80 Trần Hưng Đạo, Q.1, TP. Hồ Chí Minh <br>
      Địa chỉ phòng vé : 272 Đề Thám, Q.1, TP. Hồ Chí Minh <br>
      HotLine: 1900 6067
    </font>
    </p>
    </div>
  </div>
</div>
