<div class="wrapper bgded overlay" style="background-image:url('ligerrat/images/demo/gallery/danang2.jpg');">
    <div id="pageintro" class="hoc clear">
        <!-- ################################################################################################ -->
        <article class="introtxt">
            <h2 class="heading">Xe khách<br /><strong>PHƯƠNG TRANG</strong><br />Phục vụ tận tình</h2>
            <p>Xin kính chào quý khách</p>
            <footer>
                <ul class="nospace inline pushright">
                    <li><a class="btn" href="#">Đặt vé</a></li>
                    <li><a class="btn inverse" href="#">Thanh toán</a></li>
                </ul>
            </footer>
        </article>
        <!-- ################################################################################################ -->
    </div>
</div>
<div class="wrapper row3">
    <main class="hoc container clear">
        <!-- main body -->
        <!-- ################################################################################################ -->
        <h2 class="font-x3 uppercase btmspace-80 underlined">Sự kiện <a href="#">Giảm giá</a></h2>
        <ul class="nospace group">
            {{#saleoffHelper saleoff}}{{/saleoffHelper}}
        </ul>
        <!-- ################################################################################################ -->
        <!-- / main body -->
        <div class="clear"></div>
    </main>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper bgded overlay" style="background-image:url('ligerrat/images/demo/backgrounds/Wooden.jpg');">
    <section class="hoc container clear">
        <!-- ################################################################################################ -->
        <h2 class="font-x3 uppercase btmspace-80 underlined">Các điểm <a href="#">khởi hành</a></h2>
        <div class="group center btmspace-50">
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                </ol>
                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                  {{#carousel images}}{{/carousel}}
                </div>
                <!-- Left and right controls -->
                <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
        <!-- ################################################################################################ -->
    </section>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row2">
    <section class="hoc container clear">
        <!-- ################################################################################################ -->
        <h2 class="font-x3 uppercase btmspace-80 underlined">Tin tức <a href="#">Mới</a></h2>
        <ul class="nospace elements">
          {{#newsHelper news}}{{/newsHelper}}
        </ul>
        <!-- ################################################################################################ -->
    </section>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper bgded overlay" style="background-image:url('ligerrat/images/demo/backgrounds/Wooden.jpg');">
    <section id="testimonials" class="hoc container clear">
        <!-- ################################################################################################ -->
        <h2 class="font-x3 uppercase btmspace-80 underlined">lời kính gửi từ <a href="#">PHƯƠNG TRANG</a></h2>
        <ul class="nospace group">
            <li class="one_half first">
                <blockquote>Công ty chúng tôi luôn xem quý khách hàng là số một, được đem đến cho quý khách sự thoải mái, niềm vui cũng chính là niềm vinh hạnh của chúng tôi</blockquote>
                <figure class="clear"><img src="ligerrat/images/demo/KhanhLam.jpg" alt="">
                    <figcaption><strong>Phan Khánh Lâm</strong><br>
                        <em>Giám đốc, Phương Trang</em></figcaption>
                </figure>
            </li>
            <li class="one_half">
                <blockquote>Chúc quý khách luôn có những chuyến đi thực thoải mái và vui vẻ cùng gia đình, bạn bè và Phương Trang chúng tôi lấy làm niềm hãnh diện khi được cùng quý khách đồng hành trên các chuyến đi</blockquote>
                <figure class="clear"><img src="ligerrat/images/demo/NHK.jpg" alt="">
                    <figcaption><strong>Nguyễn Hoàng Kim</strong><br>
                        <em>Phó giám đốc, Phương Trang</em></figcaption>
                </figure>
            </li>
        </ul>
        <!-- ################################################################################################ -->
    </section>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row4">
    <footer id="footer" class="hoc clear">
        <!-- ################################################################################################ -->
        <div class="one_third first">
            <h6 class="title">Thông tin liên lạc</h6>
            <ul class="nospace linklist contact">
                <li><i class="fa fa-map-marker"></i>
                    <address>
            Đường 3 tháng 2 &amp; Phường 16, Quận 11, TP.HCM
          </address>
                </li>
                <li><i class="fa fa-phone"></i> +00 (123) 456 7890<br> +00 (123) 456 7890</li>
                <li><i class="fa fa-fax"></i> +00 (123) 456 7890</li>
                <li><i class="fa fa-envelope-o"></i> thienphuvuong@gmail.com</li>
            </ul>
        </div>
        <div class="one_third">
            <h6 class="title">Tin tức</h6>
            <ul class="nospace linklist">
                {{#newsLink news}}{{/newsLink}}
            </ul>
        </div>
        <div class="one_third">
            <h6 class="title">SỰ KIỆN</h6>
            <ul class="nospace linklist">
                {{#saleoffLink saleoff}}{{/saleoffLink}}
            </ul>
        </div>
        <!-- ################################################################################################ -->
    </footer>
</div>
