<div class="wrapper bgded overlay" style="background-image:url('ligerrat/images/demo/gallery/danang2.jpg');">
    <div id="pageintro" class="hoc clear">
        <!-- ################################################################################################ -->
        <article class="introtxt">
            <h2 class="heading">Xe khách<br /><strong>PHƯƠNG TRANG</strong><br />Phục vụ tận tình</h2>
            <p>Xin kính chào quý khách</p>
            <footer>
                <ul class="nospace inline pushright">
                    <li><a class="btn" href="#">Đặt vé</a></li>
                    <li><a class="btn inverse" href="#">Thanh toán</a></li>
                </ul>
            </footer>
        </article>
        <!-- ################################################################################################ -->
    </div>
</div>
<div class="wrapper row3">
    <main class="hoc container clear">
        <!-- main body -->
        <!-- ################################################################################################ -->
        <h2 class="font-x3 uppercase btmspace-80 underlined">Sự kiện <a href="#">Giảm giá</a></h2>
        <ul class="nospace group">
            <li class="one_quarter first">
                <div class="inspace-30 borderedbox">
                    <h6 class="heading">Luctus nullam dapibus tellus eget</h6>
                    <p>Convallis eros lobortis sollicitudin finibus nullam eu tincidunt orci aliquam lobortis id ipsum vehicula pulvinar aenean vulputate tempus ligula ut scelerisque.</p>
                    <p class="nospace"><a href="#">Read More &raquo;</a></p>
                </div>
            </li>
            <li class="one_quarter">
                <article>
                    <a href="#"><img class="btmspace-30" src="images/demo/320x220.png" alt=""></a>
                    <h6 class="heading">Dignissim rutrum mauris augue</h6>
                    <p>Dui porttitor a suspendisse pharetra urna in elit malesuada porta proin massa metus&hellip;</p>
                    <p class="nospace"><a href="#">Read More &raquo;</a></p>
                </article>
            </li>
            <li class="one_quarter">
                <article>
                    <a href="#"><img class="btmspace-30" src="images/demo/320x220.png" alt=""></a>
                    <h6 class="heading">Nisi at molestie sapien mollis</h6>
                    <p>Quis efficitur malesuada massa nunc tristique sit amet enim et morbi sodales purus in&hellip;</p>
                    <p class="nospace"><a href="#">Read More &raquo;</a></p>
                </article>
            </li>
            <li class="one_quarter">
                <article>
                    <a href="#"><img class="btmspace-30" src="images/demo/320x220.png" alt=""></a>
                    <h6 class="heading">Vulputate quis lectus hendrerit nam</h6>
                    <p>Dui convallis in ullamcorper convallis in sollicitudin dictum tellus eu fermentum lectus&hellip;</p>
                    <p class="nospace"><a href="#">Read More &raquo;</a></p>
                </article>
            </li>
        </ul>
        <!-- ################################################################################################ -->
        <!-- / main body -->
        <div class="clear"></div>
    </main>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper bgded overlay" style="background-image:url('ligerrat/images/demo/backgrounds/Wooden.jpg');">
    <section class="hoc container clear">
        <!-- ################################################################################################ -->
        <h2 class="font-x3 uppercase btmspace-80 underlined">Các điểm <a href="#">khởi hành</a></h2>
        <div class="group center btmspace-50">
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                </ol>
                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item active">
                        <img src="ligerrat/images/demo/gallery/dalat1.jpg" alt="New York">
                        <div class="carousel-caption">
                            <h3>New York</h3>
                            <p>We love the Big Apple!</p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="ligerrat/images/demo/gallery/dalat1.jpg" alt="New York">
                        <div class="carousel-caption">
                            <h3>New York</h3>
                            <p>We love the Big Apple!</p>
                        </div>
                    </div>
                </div>
                <!-- Left and right controls -->
                <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
        <!-- ################################################################################################ -->
    </section>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row2">
    <section class="hoc container clear">
        <!-- ################################################################################################ -->
        <h2 class="font-x3 uppercase btmspace-80 underlined">Tin tức <a href="#">Mới</a></h2>
        <ul class="nospace elements">
            <li class="one_third first">
                <article>
                    <a href="#"><img src="images/demo/320x220.png" alt=""></a>
                    <div class="txtwrap">
                        <h6 class="heading">Facilisis proin in</h6>
                        <time datetime="2045-04-06">6<sup>th</sup> April 2045</time>
                        <p>Dictum tempus nulla eros posuere arcu ut mattis lectus nisi vel nulla&hellip;</p>
                        <footer><a href="#">Read More &raquo;</a></footer>
                    </div>
                </article>
            </li>
            <li class="one_third">
                <article>
                    <a href="#"><img src="images/demo/320x220.png" alt=""></a>
                    <div class="txtwrap">
                        <h6 class="heading">Tristique nisl mauris</h6>
                        <time datetime="2045-04-05">5<sup>th</sup> April 2045</time>
                        <p>Odio vitae fringilla lacus habitant morbi tristique senectus et netus&hellip;</p>
                        <footer><a href="#">Read More &raquo;</a></footer>
                    </div>
                </article>
            </li>
            <li class="one_third">
                <article>
                    <a href="#"><img src="images/demo/320x220.png" alt=""></a>
                    <div class="txtwrap">
                        <h6 class="heading">Finibus purus id</h6>
                        <time datetime="2045-04-04">4<sup>th</sup> April 2045</time>
                        <p>Turpis egestas phasellus vulputate ac dolor ac elementum nullam leo&hellip;</p>
                        <footer><a href="#">Read More &raquo;</a></footer>
                    </div>
                </article>
            </li>
        </ul>
        <!-- ################################################################################################ -->
    </section>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper bgded overlay" style="background-image:url('ligerrat/images/demo/backgrounds/Wooden.jpg');">
    <section id="testimonials" class="hoc container clear">
        <!-- ################################################################################################ -->
        <h2 class="font-x3 uppercase btmspace-80 underlined">lời kính gửi từ <a href="#">PHƯƠNG TRANG</a></h2>
        <ul class="nospace group">
            <li class="one_half first">
                <blockquote>Công ty chúng tôi luôn xem quý khách hàng là số một, được đem đến cho quý khách sự thoải mái, niềm vui cũng chính là niềm vinh hạnh của chúng tôi</blockquote>
                <figure class="clear"><img src="ligerrat/images/demo/KhanhLam.jpg" alt="">
                    <figcaption><strong>Phan Khánh Lâm</strong><br>
                        <em>Giám đốc, Phương Trang</em></figcaption>
                </figure>
            </li>
            <li class="one_half">
                <blockquote>Chúc quý khách luôn có những chuyến đi thực thoải mái và vui vẻ cùng gia đình, bạn bè và Phương Trang chúng tôi lấy làm niềm hãnh diện khi được cùng quý khách đồng hành trên các chuyến đi</blockquote>
                <figure class="clear"><img src="ligerrat/images/demo/NHK.jpg" alt="">
                    <figcaption><strong>Nguyễn Hoàng Kim</strong><br>
                        <em>Phó giám đốc, Phương Trang</em></figcaption>
                </figure>
            </li>
        </ul>
        <!-- ################################################################################################ -->
    </section>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row4">
    <footer id="footer" class="hoc clear">
        <!-- ################################################################################################ -->
        <div class="one_third first">
            <h6 class="title">Thông tin liên lạc</h6>
            <ul class="nospace linklist contact">
                <li><i class="fa fa-map-marker"></i>
                    <address>
            Đường 3 tháng 2 &amp; Phường 16, Quận 11, TP.HCM
          </address>
                </li>
                <li><i class="fa fa-phone"></i> +00 (123) 456 7890<br> +00 (123) 456 7890</li>
                <li><i class="fa fa-fax"></i> +00 (123) 456 7890</li>
                <li><i class="fa fa-envelope-o"></i> thienphuvuong@gmail.com</li>
            </ul>
        </div>
        <div class="one_third">
            <h6 class="title">Tin tức</h6>
            <ul class="nospace linklist">
                <li><a href="#">hendrerit risus nulla consectetur</a></li>
                <li><a href="#">sapien a tempor neque faucibus vitae</a></li>
                <li><a href="#">vestibulum nisi sed orci condimentum</a></li>
                <li><a href="#">faucibus ligula facilisis phasellus</a></li>
                <li><a href="#">venenatis mauris vel varius tincidunt</a></li>
            </ul>
        </div>
        <div class="one_third">
            <h6 class="title">SỰ KIỆN</h6>
            <ul class="nospace linklist">
                <li><a href="#">non fusce quis dictum vitae accumsan</a></li>
                <li><a href="#">erat in hac habitasse platea dictumst</a></li>
                <li><a href="#">sed mi arcu mattis gravida feugiat</a></li>
                <li><a href="#">aliquam nunc etiam neque lobortis</a></li>
                <li><a href="#">tristique integer nunc eget dictum</a></li>
            </ul>
        </div>
        <!-- ################################################################################################ -->
    </footer>
</div>
