<div class="wrapper bgded overlay" style="background-image:url('ligerrat/images/demo/backgrounds/Wooden.jpg');">
    <section class="hoc container clear">
        <!-- ################################################################################################ -->
        <h2 class="font-x3 uppercase btmspace-80 underlined">Đăng ký tài khoản <a data-toggle="collapse" data-target="#signInForm">{{username}}</a> thành công!!!</h2>
        <div class="hoc container clear ">
          Kính gửi quý khách {{name}},
          Xin chân thành gửi lời cảm ơn đến quý khách đã ủng hộ hệ thống xe khách Phương Trang của chúng tôi, chúng tôi hi vọng có thể đem đến cho quý khách những chuyến đi vô cùng vui vẻ và thoải mái.
          Chúng tôi hi vọng có thể trở thành bạn đồng hành của quý khách trong các chuyến đi sau này. Chúng tồi luôn xem quý khách hàng làm hàng đầu, chính vì vậy mà chất lượng phục vụ của chúng tôi luôn dẫn đầu.
          Chúng tôi sở hữu nguồn nhân lực lịch sự, thân thiện với khách hàng. Chúng tôi còn thường xuyên tổ chức các sự kiện giảm giá. Chúng tôi hi vọng quý khách hàng sẽ luôn ủng hộ công ty chúng tôi trong thời
          gian tới và xin gửi lời cảm ơn chân thành đến quý khách hàng một lần nữa, xin cảm ơn.
        </div>
        <!-- ################################################################################################ -->
    </section>
</div>
