<!DOCTYPE html>
<!--
Template Name: Ligerrat
Author: <a href="http://www.os-templates.com/">OS Templates</a>
Author URI: http://www.os-templates.com/
Licence: Free to use under our free template licence terms
Licence URI: http://www.os-templates.com/template-terms
-->
<html>

{{>head}}

<body id="top">
    {{>top_bar}}

    {{>header}}

    {{>sign_in_form}}

    {{{body}}}

    {{>footer}}

    <a id="backtotop" href="#top"><i class="fa fa-chevron-up"></i></a>

    {{>script}}
</body>

</html>
